.uwv {
  &-active {
    // Fix for Dailymotion
    .dmp_VideoView-content {
      all: unset !important;
    }

    // Fix for Disney+
    .hudson-container {
      all: unset !important;
      width: 100vw !important;  // Required for "normal" mode restoration
      height: 100vh !important; // Required for "normal" mode restoration
    }

    // Fix for Channel24
    .full_screen .player__video {
      &__app,
      &__container {
        width: 100vw !important;
        height: 100vh !important;
      }
    }
  }

  &-active &-video { // :not(&-normal)
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    transform: none !important; // Fix for Hulu
    width: 100vw !important;
    height: 100vh !important;
  }

  &-active &-upscale {
    object-fit: cover !important;
  }

  &-active &-stretch {
    object-fit: fill !important;
  }
}
