/*! UltraWideo
 * Has been tested across many popular websites and many different video players.
 * Listing the websites is an overkill, so below is the list of video players,
 * this extension has been tested on...
 *
 * YouTube, Vimeo, JW Player, VideoJS, Plyr, MediaElementJS, jPlayer, AfterGlow, HTML5 Video
 */

.uwv {
  &-active {
    .player .vp-player-layout,
    .dmp_VideoView-content {
      all: unset !important;
    }
  }

  &-active &-video {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
  }

  &-active &-upscale {
    object-fit: cover !important;
  }

  &-active &-stretch {
    object-fit: fill !important;
  }
}
