*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

h1,
p {
  margin: {
    top: 0;
    bottom: 0;
  }
}

@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

.app {
  min-width: 320px;
  max-width: 320px;
  padding: 1.2rem 1.5rem;
  animation: fade .2s ease-in-out;

  &-head {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(161, 82, 255, .7);
  }

  &-head > img {
    max-width: 15%;
    height: auto;
    margin-right: 1rem;
  }

  &-head > h1 {
    font-weight: 600;
    font-size: 1.7rem;
  }

  &-body > p {
    color: #9c9c9c;
    margin-bottom: 1rem;
  }
}

.options {
  margin-bottom: 1.5rem;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;

  & > span {
    font-size: 1rem;
    text-transform: uppercase;
    color: #7c7c7c;
  }
}

.switch {
  position: relative;
  width: 28px;
  height: 12px;
  display: inline-block;

  & input {
    all: unset;
    background-color: #000;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.4;
    display: block;
    transition: background-color linear 80ms;
  }

  & input:checked {
    background-color: #a152ff;
  }

  & input:checked:active + .handle::before {
    box-shadow: 0 0 0 10px rgba(161, 82, 255, .2);
  }

  & input:active + .handle::before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .2);
  }

  & .handle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #fafafa;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    transition: transform linear 80ms, background-color linear 80ms;
    z-index: 1;
  }

  & input:checked + .handle::before {
    background-color: #a152ff;
    transform: translate(100%, -50%);
  }
}

.shortcuts {
  padding-left: unset;
  margin-left: unset;
  list-style-type: none;
  color: #696969;

  kbd {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 1.3rem;
    min-height: 1.3rem;
    font-size: .7rem;
    color: #fafafa;
    background-color: #a152ff;
    border-radius: .2rem;
    padding: 0 .3rem;
    vertical-align: middle;
  }
}
