@import 'app/variables';
@import 'app/reset';
@import 'app/animations';
@import 'app/base';

@import 'app/components/category';
@import 'app/components/input';
@import 'app/components/logo';
@import 'app/components/option';
@import 'app/components/switch';

.uwv {
  min-width: var(--container-width);
  
  &::before {
    content: attr(data-version);
    background-color: hsla(var(--color-primary), 1);
    color: hsla(var(--color-white), 1);
    position: absolute;
    top: 0;
    right: 0;
    padding: .2rem .4rem;
    border-bottom-left-radius: var(--base-radius);
    font: {
      size: .7rem;
      family: 'Roboto Condensed';
      weight: 700;
    }
  }
}

.category {
  --title-spacing: 1rem;
  --title-size: .8rem;
  
  &-head {
    font: {
      family: 'Roboto Condensed';
      weight: 700;
      size: .8rem;
    }
    text-transform: uppercase;
    color: hsla(var(--color-light), 1);
    margin-bottom: var(--title-spacing);
  }
}
