@forward 'app/variables';
@forward 'app/reset';
@forward 'app/animations';
@forward 'app/base';

@forward 'app/components/category';
@forward 'app/components/list';
@forward 'app/components/logo';

.logo {
  --icon-size: 64px;
  --icon-spacing: .8rem;
  --icon-font-size: 2.4rem;
}

.uwv {
  --container-width: 768px;
  --container-gutter-x: 2rem;
  --container-gutter-y: 1.5rem;
  --space-between-sections: 2.5rem;

  margin: {
    right: auto;
    left: auto;
  }

  &-foot {
    font-size: .8rem;
  }
}

.category {
  --section-spacing: 3rem;

  p {
    margin-bottom: 0;
  }

  kbd {
    background-color: hsla(var(--color-primary), 1);
    font-size: var(--font-size-xs);
    color: hsla(var(--color-white), 1);
    padding: var(--spacing-xs) var(--spacing-s);
    min-width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: var(--base-radius);
  }
}

.intro {
  --main-spacing: 5rem;

  text-align: center;
  margin-top: var(--main-spacing);
  margin-bottom: var(--main-spacing);

  &-title {
    color: hsla(var(--color-primary), 1);
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  &-description {
    font-weight: 300;
    font-size: 1.2rem;

    p {
      margin-bottom: .5rem;
    }
  }
}

.browser-list {
  --main-spacing: 5rem;

  list-style: none;
  padding-left: 0;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: var(--main-spacing) auto;

  &-link {
    transition: opacity .2s ease-in-out;

    &:hover {
      filter: contrast(200%);
      opacity: .6;
    }
  }

  &-image {
    width: 48px;
    height: 48px;
    object-fit: contain;
    color: red;
  }
}
