.uwv {
  --container-width: 320px;
  --container-gutter-x: 1.5rem;
  --container-gutter-y: 1rem;
  --space-between-sections: 2.5rem;

  max-width: var(--container-width);
  padding: {
    top: var(--container-gutter-y);
    right: var(--container-gutter-x);
    bottom: var(--container-gutter-y);
    left: var(--container-gutter-x);
  }
  animation: fade .2s ease-in-out;
  
  > *:not(:last-child) {
    margin-bottom: var(--space-between-sections);
  }
  
  &-head {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-foot {
    font-size: .74rem;
    text-align: center;
  }
}
